/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
        ext.when   = When clause for conditional execution.
----------------------------------------------------------------------------------------
*/

process {

    // Centralized container for all CAVEMAN processes
    withName: 'CAVEMAN_.*|REMOVE_CONTIGS' {
        container = 'papaemmelab/docker-cgp:v1.1'
    }

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        enabled: false
    ]

    withName: 'CAVEMAN_SETUP' {
        publishDir = [
            path: { "${params.outdir}/caveman" },
            mode: params.publish_dir_mode,
            enabled: false
        ]
    }

    withName: 'CAVEMAN_ADD_IDS' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: "*.snps.ids.vcf.gz*",
            enabled: true
        ]
    }

    withName: 'CAVEMAN_FLAG' {
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            pattern: "*.flagged.muts.vcf.gz*",
            enabled: true
        ]
    }
}
