/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-caveman -profile test,docker --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Test data - points to test files from toil_caveman
    tumour_bam  = "${projectDir}/tests/data/tumor/tumor.bam"
    normal_bam  = "${projectDir}/tests/data/normal/normal.bam"
    reference   = "${projectDir}/tests/data/reference/reference.fasta.fai"

    // Optional files from caveman test data
    // Note: normal_cn and tumour_cn are not provided to avoid file name collision
    // (they would both be caveman_cn.txt which Nextflow doesn't allow)
    ignore_file      = "${projectDir}/tests/data/caveman/ignore.txt"
    germline_indel   = "${projectDir}/tests/data/caveman/germline_indel.bed.gz"
    unmatched_vcf    = "${projectDir}/tests/data/caveman"
    flag_bed_files   = "${projectDir}/tests/data/flagging"

    // Copy number defaults (used instead of CN files)
    norm_cn_default  = 2
    tum_cn_default   = 2
    bin_size         = 2
}
